ElDirectorioMx/src/WebSites/bsx.DirLaguna.Advertiser/Web References/ImageServicie/ImageService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaveLogo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="advertiserId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="contentImg" type="s:base64Binary" />
            <s:element minOccurs="0" maxOccurs="1" name="extension" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaveLogoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SaveLogoResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="errors" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="SavePicture">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="advertiserId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="galleryId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="newPictureId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="contentImg" type="s:base64Binary" />
            <s:element minOccurs="0" maxOccurs="1" name="extension" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SavePictureResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SavePictureResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="errors" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaveCouponSet">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="advertiserId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="couponSetId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="newPictureId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="contentImg" type="s:base64Binary" />
            <s:element minOccurs="0" maxOccurs="1" name="extension" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaveCouponSetResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SaveCouponSetResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="errors" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="SaveLogoSoapIn">
    <wsdl:part name="parameters" element="tns:SaveLogo" />
  </wsdl:message>
  <wsdl:message name="SaveLogoSoapOut">
    <wsdl:part name="parameters" element="tns:SaveLogoResponse" />
  </wsdl:message>
  <wsdl:message name="SavePictureSoapIn">
    <wsdl:part name="parameters" element="tns:SavePicture" />
  </wsdl:message>
  <wsdl:message name="SavePictureSoapOut">
    <wsdl:part name="parameters" element="tns:SavePictureResponse" />
  </wsdl:message>
  <wsdl:message name="SaveCouponSetSoapIn">
    <wsdl:part name="parameters" element="tns:SaveCouponSet" />
  </wsdl:message>
  <wsdl:message name="SaveCouponSetSoapOut">
    <wsdl:part name="parameters" element="tns:SaveCouponSetResponse" />
  </wsdl:message>
  <wsdl:portType name="ImageServiceSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SaveLogo">
      <wsdl:input message="tns:SaveLogoSoapIn" />
      <wsdl:output message="tns:SaveLogoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SavePicture">
      <wsdl:input message="tns:SavePictureSoapIn" />
      <wsdl:output message="tns:SavePictureSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SaveCouponSet">
      <wsdl:input message="tns:SaveCouponSetSoapIn" />
      <wsdl:output message="tns:SaveCouponSetSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ImageServiceSoap" type="tns:ImageServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveLogo">
      <soap:operation soapAction="http://tempuri.org/SaveLogo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SavePicture">
      <soap:operation soapAction="http://tempuri.org/SavePicture" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveCouponSet">
      <soap:operation soapAction="http://tempuri.org/SaveCouponSet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ImageServiceSoap12" type="tns:ImageServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveLogo">
      <soap12:operation soapAction="http://tempuri.org/SaveLogo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SavePicture">
      <soap12:operation soapAction="http://tempuri.org/SavePicture" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveCouponSet">
      <soap12:operation soapAction="http://tempuri.org/SaveCouponSet" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ImageService">
    <wsdl:port name="ImageServiceSoap" binding="tns:ImageServiceSoap">
      <soap:address location="http://localhost:7483/Service/ImageService.asmx" />
    </wsdl:port>
    <wsdl:port name="ImageServiceSoap12" binding="tns:ImageServiceSoap12">
      <soap12:address location="http://localhost:7483/Service/ImageService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>