ElDirectorioMx/src/WebSites/bsx.DirLaguna.Admin/Web References/GorilaService/GorilaService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SignupCustomer">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="rfc" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="key" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="carrier" type="tns:CustomerCarrier" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="CustomerCarrier">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="InvoiceId" nillable="true" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="CustomerRFC" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="FechaDocumento" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="TotalInvoice" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="TotalImpuestos" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SocialReason" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FirstName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LastName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MotherName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PaymentMethod" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PaymentCondition" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NotesClient" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ZipCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Street" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Poblacion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MunicipioName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="MunicipioId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="EstadoName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="EstadoId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ExteriorNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="InteriorNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Colony" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Version" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="OfficeId" nillable="true" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Moneda" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="TipoCambio" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="CurrencyName" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="SignupCustomerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SignupCustomerResult" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="errors" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="InvoiceTo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="rfc" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="key" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="customer" type="tns:CustomerCarrier" />
            <s:element minOccurs="0" maxOccurs="1" name="items" type="tns:ArrayOfConceptCarrier" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfConceptCarrier">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ConceptCarrier" nillable="true" type="tns:ConceptCarrier" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ConceptCarrier">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Quantity" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="Price" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="InvoiceToResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="InvoiceToResult" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="errors" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="folioSerie" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FetchClientConcepts">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="rfc" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="key" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FetchClientConceptsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="FetchClientConceptsResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="concepts" type="tns:ArrayOfConceptCarrier" />
            <s:element minOccurs="0" maxOccurs="1" name="errors" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FetchClientInvoices">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="rfc" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="key" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="customerId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FetchClientInvoicesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="FetchClientInvoicesResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="invoices" type="tns:ArrayOfInvoiceCarrier" />
            <s:element minOccurs="0" maxOccurs="1" name="errors" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfInvoiceCarrier">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="InvoiceCarrier" nillable="true" type="tns:InvoiceCarrier" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="InvoiceCarrier" />
      <s:element name="FetchInvoicePdf">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="rfc" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="key" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="invoiceId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="ipAddress" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FetchInvoicePdfResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FetchInvoicePdfResult" type="tns:FileContainerCarrier" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="FileContainerCarrier">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="FileName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Extension" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Content" type="s:base64Binary" />
        </s:sequence>
      </s:complexType>
      <s:element name="FetchInvoiceXml">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="rfc" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="key" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="invoiceId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="ipAddress" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FetchInvoiceXmlResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FetchInvoiceXmlResult" type="tns:FileContainerCarrier" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FetchPriceByGorilaId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="gorilaId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FetchPriceByGorilaIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="FetchPriceByGorilaIdResult" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="unitPrice" type="s:decimal" />
            <s:element minOccurs="0" maxOccurs="1" name="errors" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="OfficesFranchisee">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="rfc" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="key" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="OfficesFranchiseeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="OfficesFranchiseeResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="officesFranchisee" type="tns:ArrayOfOfficeCarrier" />
            <s:element minOccurs="0" maxOccurs="1" name="errors" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfOfficeCarrier">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="OfficeCarrier" nillable="true" type="tns:OfficeCarrier" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="OfficeCarrier">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="BankAccountsFranchisee">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="rfc" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="key" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BankAccountsFranchiseeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="BankAccountsFranchiseeResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="bankAccountsFranchisee" type="tns:ArrayOfBankAccountCarrier" />
            <s:element minOccurs="0" maxOccurs="1" name="errors" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfBankAccountCarrier">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="BankAccountCarrier" nillable="true" type="tns:BankAccountCarrier" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="BankAccountCarrier">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="RegisterPayment">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="rfc" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="key" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="invoiceId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="bankAccount" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RegisterPaymentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="RegisterPaymentResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="errors" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="SignupCustomerSoapIn">
    <wsdl:part name="parameters" element="tns:SignupCustomer" />
  </wsdl:message>
  <wsdl:message name="SignupCustomerSoapOut">
    <wsdl:part name="parameters" element="tns:SignupCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="InvoiceToSoapIn">
    <wsdl:part name="parameters" element="tns:InvoiceTo" />
  </wsdl:message>
  <wsdl:message name="InvoiceToSoapOut">
    <wsdl:part name="parameters" element="tns:InvoiceToResponse" />
  </wsdl:message>
  <wsdl:message name="FetchClientConceptsSoapIn">
    <wsdl:part name="parameters" element="tns:FetchClientConcepts" />
  </wsdl:message>
  <wsdl:message name="FetchClientConceptsSoapOut">
    <wsdl:part name="parameters" element="tns:FetchClientConceptsResponse" />
  </wsdl:message>
  <wsdl:message name="FetchClientInvoicesSoapIn">
    <wsdl:part name="parameters" element="tns:FetchClientInvoices" />
  </wsdl:message>
  <wsdl:message name="FetchClientInvoicesSoapOut">
    <wsdl:part name="parameters" element="tns:FetchClientInvoicesResponse" />
  </wsdl:message>
  <wsdl:message name="FetchInvoicePdfSoapIn">
    <wsdl:part name="parameters" element="tns:FetchInvoicePdf" />
  </wsdl:message>
  <wsdl:message name="FetchInvoicePdfSoapOut">
    <wsdl:part name="parameters" element="tns:FetchInvoicePdfResponse" />
  </wsdl:message>
  <wsdl:message name="FetchInvoiceXmlSoapIn">
    <wsdl:part name="parameters" element="tns:FetchInvoiceXml" />
  </wsdl:message>
  <wsdl:message name="FetchInvoiceXmlSoapOut">
    <wsdl:part name="parameters" element="tns:FetchInvoiceXmlResponse" />
  </wsdl:message>
  <wsdl:message name="FetchPriceByGorilaIdSoapIn">
    <wsdl:part name="parameters" element="tns:FetchPriceByGorilaId" />
  </wsdl:message>
  <wsdl:message name="FetchPriceByGorilaIdSoapOut">
    <wsdl:part name="parameters" element="tns:FetchPriceByGorilaIdResponse" />
  </wsdl:message>
  <wsdl:message name="OfficesFranchiseeSoapIn">
    <wsdl:part name="parameters" element="tns:OfficesFranchisee" />
  </wsdl:message>
  <wsdl:message name="OfficesFranchiseeSoapOut">
    <wsdl:part name="parameters" element="tns:OfficesFranchiseeResponse" />
  </wsdl:message>
  <wsdl:message name="BankAccountsFranchiseeSoapIn">
    <wsdl:part name="parameters" element="tns:BankAccountsFranchisee" />
  </wsdl:message>
  <wsdl:message name="BankAccountsFranchiseeSoapOut">
    <wsdl:part name="parameters" element="tns:BankAccountsFranchiseeResponse" />
  </wsdl:message>
  <wsdl:message name="RegisterPaymentSoapIn">
    <wsdl:part name="parameters" element="tns:RegisterPayment" />
  </wsdl:message>
  <wsdl:message name="RegisterPaymentSoapOut">
    <wsdl:part name="parameters" element="tns:RegisterPaymentResponse" />
  </wsdl:message>
  <wsdl:portType name="GorilaServiceSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SignupCustomer">
      <wsdl:input message="tns:SignupCustomerSoapIn" />
      <wsdl:output message="tns:SignupCustomerSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InvoiceTo">
      <wsdl:input message="tns:InvoiceToSoapIn" />
      <wsdl:output message="tns:InvoiceToSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FetchClientConcepts">
      <wsdl:input message="tns:FetchClientConceptsSoapIn" />
      <wsdl:output message="tns:FetchClientConceptsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FetchClientInvoices">
      <wsdl:input message="tns:FetchClientInvoicesSoapIn" />
      <wsdl:output message="tns:FetchClientInvoicesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FetchInvoicePdf">
      <wsdl:input message="tns:FetchInvoicePdfSoapIn" />
      <wsdl:output message="tns:FetchInvoicePdfSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FetchInvoiceXml">
      <wsdl:input message="tns:FetchInvoiceXmlSoapIn" />
      <wsdl:output message="tns:FetchInvoiceXmlSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FetchPriceByGorilaId">
      <wsdl:input message="tns:FetchPriceByGorilaIdSoapIn" />
      <wsdl:output message="tns:FetchPriceByGorilaIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="OfficesFranchisee">
      <wsdl:input message="tns:OfficesFranchiseeSoapIn" />
      <wsdl:output message="tns:OfficesFranchiseeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="BankAccountsFranchisee">
      <wsdl:input message="tns:BankAccountsFranchiseeSoapIn" />
      <wsdl:output message="tns:BankAccountsFranchiseeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RegisterPayment">
      <wsdl:input message="tns:RegisterPaymentSoapIn" />
      <wsdl:output message="tns:RegisterPaymentSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="GorilaServiceSoap" type="tns:GorilaServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SignupCustomer">
      <soap:operation soapAction="http://tempuri.org/SignupCustomer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InvoiceTo">
      <soap:operation soapAction="http://tempuri.org/InvoiceTo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FetchClientConcepts">
      <soap:operation soapAction="http://tempuri.org/FetchClientConcepts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FetchClientInvoices">
      <soap:operation soapAction="http://tempuri.org/FetchClientInvoices" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FetchInvoicePdf">
      <soap:operation soapAction="http://tempuri.org/FetchInvoicePdf" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FetchInvoiceXml">
      <soap:operation soapAction="http://tempuri.org/FetchInvoiceXml" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FetchPriceByGorilaId">
      <soap:operation soapAction="http://tempuri.org/FetchPriceByGorilaId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OfficesFranchisee">
      <soap:operation soapAction="http://tempuri.org/OfficesFranchisee" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BankAccountsFranchisee">
      <soap:operation soapAction="http://tempuri.org/BankAccountsFranchisee" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegisterPayment">
      <soap:operation soapAction="http://tempuri.org/RegisterPayment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="GorilaServiceSoap12" type="tns:GorilaServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SignupCustomer">
      <soap12:operation soapAction="http://tempuri.org/SignupCustomer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InvoiceTo">
      <soap12:operation soapAction="http://tempuri.org/InvoiceTo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FetchClientConcepts">
      <soap12:operation soapAction="http://tempuri.org/FetchClientConcepts" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FetchClientInvoices">
      <soap12:operation soapAction="http://tempuri.org/FetchClientInvoices" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FetchInvoicePdf">
      <soap12:operation soapAction="http://tempuri.org/FetchInvoicePdf" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FetchInvoiceXml">
      <soap12:operation soapAction="http://tempuri.org/FetchInvoiceXml" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FetchPriceByGorilaId">
      <soap12:operation soapAction="http://tempuri.org/FetchPriceByGorilaId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OfficesFranchisee">
      <soap12:operation soapAction="http://tempuri.org/OfficesFranchisee" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BankAccountsFranchisee">
      <soap12:operation soapAction="http://tempuri.org/BankAccountsFranchisee" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegisterPayment">
      <soap12:operation soapAction="http://tempuri.org/RegisterPayment" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GorilaService">
    <wsdl:port name="GorilaServiceSoap" binding="tns:GorilaServiceSoap">
      <soap:address location="http://localhost:5684/Service/GorilaService.asmx" />
    </wsdl:port>
    <wsdl:port name="GorilaServiceSoap12" binding="tns:GorilaServiceSoap12">
      <soap12:address location="http://localhost:5684/Service/GorilaService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>